
 <link rel="stylesheet" href="/css/footer.css">
  
  <!-- Instagram Section -->
  <section class="instagram">
    <div class="section-header">
      <h3>Follow us on Instagram</h3>
      <p>@chettinadu_sarees</p>
    </div>
    <div class="insta-gallery">
      <div class="insta-post">
        <img src="/img/insta-post1.jpg" alt="Instagram Post 1">
        <div class="insta-overlay">
          <i class="fab fa-instagram"></i>
        </div>
      </div>
      <div class="insta-post">
        <img src="/img/insta-post2.jpg" alt="Instagram Post 2">
        <div class="insta-overlay">
          <i class="fab fa-instagram"></i>
        </div>
      </div>
      <div class="insta-post">
        <img src="/img/insta-post3.jpg" alt="Instagram Post 3">
        <div class="insta-overlay">
          <i class="fab fa-instagram"></i>
        </div>
      </div>
      <div class="insta-post">
        <img src="/img/insta-post4.jpg" alt="Instagram Post 4">
        <div class="insta-overlay">
          <i class="fab fa-instagram"></i>
        </div>
      </div>
    </div>
  </section>
  <!-- Newsletter -->
  <section class="newsletter">
    <div class="container">
      <div class="newsletter-content">
        <h3>Join Our Newsletter</h3>
        <p>Subscribe to receive updates on new collections and exclusive offers</p>
        <form>
          <input type="email" placeholder="Your email address">
          <button type="submit" class="primary-btn">Subscribe</button>
        </form>
      </div>
    </div>
  </section>
<!-- Footer -->
  <footer>
    <div class="container">
      <div class="footer-content">
        <div class="footer-column">
          <h4>About Us</h4>
          <p>CHETTINADU celebrates traditional Indian textile arts while bringing contemporary designs to modern women.</p>
          <div class="social-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-pinterest-p"></i></a>
          </div>
        </div>
        <div class="footer-column">
          <h4>Quick Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <h4>Customer Service</h4>
          <ul>
            <li><a href="#">Shipping Policy</a></li>
            <li><a href="#">Return & Exchange</a></li>
            <li><a href="#">Size Guide</a></li>
            <li><a href="#">FAQs</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <h4>Contact Us</h4>
          <p><i class="fas fa-envelope"></i> contact@chettinadu.com</p>
          <p><i class="fas fa-phone"></i> +91 9876543210</p>
          <p><i class="fas fa-map-marker-alt"></i> Chennai, Tamil Nadu, India</p>
        </div>
      </div>
      <div class="copyright">
        <p>© 2025 CHETTINADU Sarees. All Rights Reserved.</p>
        <div class="payment-methods">
          <i class="fab fa-cc-visa"></i>
          <i class="fab fa-cc-mastercard"></i>
          <i class="fab fa-cc-paypal"></i>
          <i class="fab fa-cc-amex"></i>
        </div>
      </div>
    </div>
  </footer>
